<h1 class="page-heading">Book</h1>
<h2>Statistics for Spatio-Temporal Data</h2>
<span style="font-size: 16pt; font-weight: 400; display: block;">by Noel Cressie and Christopher K. Wikle</span>
<br/>
<br/>
<div class="bookcover">
  <img src="{{ '/assets/images/cover.png' | relative_url }}" alt="Book Cover" />
</div>

<h2>Preface</h2>
<p>Click <a href="{{ '/assets/downloads/SSTD2015_Preface.pdf' | relative_url }}">here</a> to download Preface.</p>

<h2>Table of Contents</h2>
<p>Click <a href="{{ '/assets/downloads/SSTD2015_TOC.pdf' | relative_url }}">here</a> to download TOC.</p>

<h2>Download</h2>
<p>
  <span style="color: red; font-weight: bold;">PDF is free for download</span>.
  Click <a href="{{ '/download' | relative_url }}">here</a> to download a copy.
</p>

<p><b>Bibliographic reference:</b> Cressie, N. and Wikle, C.K. (2011). <i>Statistics for Spatio-Temporal Data</i>. Wiley, Hoboken, NJ, 2011 (624 pp.) (doi: <a href="https://doi.org/10.1007/s11004-012-9430-5">10.1007/s11004-012-9430-5</a>). Reprinted with corrections in 2015, which is the contents of the download.</p>

<h2>Awards</h2>
<ul>
  <li><b>2011 PROSE Award</b>: Won in the Mathematics category (for PROfessional and Scholarly Excellence, given by the Association of American Publishers).</li>
  <li><b>2013 DeGroot Book Prize</b>: Awarded every two years by the International Society for Bayesian Analysis.</li>
</ul>

