<a class="site-nav-btn" href="{{ '/' | relative_url }}/">Home</a> |
<a class="site-nav-btn" href="{{ '/book' | relative_url }}">Book</a> |
<a class="site-nav-btn" href="{{ '/awards' | relative_url }}">Awards</a> |
<a class="site-nav-btn" href="{{ '/reviews' | relative_url }}">Reviews</a> |
<a class="site-nav-btn" href="{{ '/errata' | relative_url }}">Errata</a> |
<a class="site-nav-btn" href="{{ '/articles' | relative_url }}">Articles</a> |
<a class="site-nav-btn" href="{{ '/contact' | relative_url }}">Contact</a> |